<Type Name="Context" FullName="Xwt.Drawing.Context">
  <TypeSignature Language="C#" Value="public sealed class Context : Xwt.XwtObject, IDisposable" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi sealed Context extends Xwt.XwtObject implements class System.IDisposable" />
  <AssemblyInfo>
    <AssemblyName>Xwt</AssemblyName>
    <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Xwt.XwtObject</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>System.IDisposable</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="Arc">
      <MemberSignature Language="C#" Value="public void Arc (double xc, double yc, double radius, double angle1, double angle2);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Arc(float64 xc, float64 yc, float64 radius, float64 angle1, float64 angle2) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="xc" Type="System.Double" />
        <Parameter Name="yc" Type="System.Double" />
        <Parameter Name="radius" Type="System.Double" />
        <Parameter Name="angle1" Type="System.Double" />
        <Parameter Name="angle2" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="xc">To be added.</param>
        <param name="yc">To be added.</param>
        <param name="radius">To be added.</param>
        <param name="angle1">To be added.</param>
        <param name="angle2">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="BackendHandler">
      <MemberSignature Language="C#" Value="protected override Xwt.Backends.IBackendHandler BackendHandler { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Xwt.Backends.IBackendHandler BackendHandler" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Xwt.Backends.IBackendHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Clip">
      <MemberSignature Language="C#" Value="public void Clip ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Clip() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ClipPreserve">
      <MemberSignature Language="C#" Value="public void ClipPreserve ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void ClipPreserve() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ClosePath">
      <MemberSignature Language="C#" Value="public void ClosePath ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void ClosePath() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CurveTo">
      <MemberSignature Language="C#" Value="public void CurveTo (Xwt.Point p1, Xwt.Point p2, Xwt.Point p3);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void CurveTo(valuetype Xwt.Point p1, valuetype Xwt.Point p2, valuetype Xwt.Point p3) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="p1" Type="Xwt.Point" />
        <Parameter Name="p2" Type="Xwt.Point" />
        <Parameter Name="p3" Type="Xwt.Point" />
      </Parameters>
      <Docs>
        <param name="p1">To be added.</param>
        <param name="p2">To be added.</param>
        <param name="p3">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CurveTo">
      <MemberSignature Language="C#" Value="public void CurveTo (double x1, double y1, double x2, double y2, double x3, double y3);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void CurveTo(float64 x1, float64 y1, float64 x2, float64 y2, float64 x3, float64 y3) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x1" Type="System.Double" />
        <Parameter Name="y1" Type="System.Double" />
        <Parameter Name="x2" Type="System.Double" />
        <Parameter Name="y2" Type="System.Double" />
        <Parameter Name="x3" Type="System.Double" />
        <Parameter Name="y3" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="x1">To be added.</param>
        <param name="y1">To be added.</param>
        <param name="x2">To be added.</param>
        <param name="y2">To be added.</param>
        <param name="x3">To be added.</param>
        <param name="y3">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Dispose">
      <MemberSignature Language="C#" Value="public void Dispose ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Dispose() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DrawImage">
      <MemberSignature Language="C#" Value="public void DrawImage (Xwt.Drawing.Image img, Xwt.Point location);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void DrawImage(class Xwt.Drawing.Image img, valuetype Xwt.Point location) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="img" Type="Xwt.Drawing.Image" />
        <Parameter Name="location" Type="Xwt.Point" />
      </Parameters>
      <Docs>
        <param name="img">To be added.</param>
        <param name="location">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DrawImage">
      <MemberSignature Language="C#" Value="public void DrawImage (Xwt.Drawing.Image img, double x, double y);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void DrawImage(class Xwt.Drawing.Image img, float64 x, float64 y) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="img" Type="Xwt.Drawing.Image" />
        <Parameter Name="x" Type="System.Double" />
        <Parameter Name="y" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="img">To be added.</param>
        <param name="x">To be added.</param>
        <param name="y">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DrawImage">
      <MemberSignature Language="C#" Value="public void DrawImage (Xwt.Drawing.Image img, Xwt.Point location, double alpha);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void DrawImage(class Xwt.Drawing.Image img, valuetype Xwt.Point location, float64 alpha) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="img" Type="Xwt.Drawing.Image" />
        <Parameter Name="location" Type="Xwt.Point" />
        <Parameter Name="alpha" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="img">To be added.</param>
        <param name="location">To be added.</param>
        <param name="alpha">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DrawImage">
      <MemberSignature Language="C#" Value="public void DrawImage (Xwt.Drawing.Image img, double x, double y, double alpha);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void DrawImage(class Xwt.Drawing.Image img, float64 x, float64 y, float64 alpha) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="img" Type="Xwt.Drawing.Image" />
        <Parameter Name="x" Type="System.Double" />
        <Parameter Name="y" Type="System.Double" />
        <Parameter Name="alpha" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="img">To be added.</param>
        <param name="x">To be added.</param>
        <param name="y">To be added.</param>
        <param name="alpha">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DrawTextLayout">
      <MemberSignature Language="C#" Value="public void DrawTextLayout (Xwt.Drawing.TextLayout layout, Xwt.Point location);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void DrawTextLayout(class Xwt.Drawing.TextLayout layout, valuetype Xwt.Point location) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="layout" Type="Xwt.Drawing.TextLayout" />
        <Parameter Name="location" Type="Xwt.Point" />
      </Parameters>
      <Docs>
        <param name="layout">To be added.</param>
        <param name="location">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DrawTextLayout">
      <MemberSignature Language="C#" Value="public void DrawTextLayout (Xwt.Drawing.TextLayout layout, double x, double y);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void DrawTextLayout(class Xwt.Drawing.TextLayout layout, float64 x, float64 y) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="layout" Type="Xwt.Drawing.TextLayout" />
        <Parameter Name="x" Type="System.Double" />
        <Parameter Name="y" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="layout">To be added.</param>
        <param name="x">To be added.</param>
        <param name="y">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Fill">
      <MemberSignature Language="C#" Value="public void Fill ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Fill() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FillPreserve">
      <MemberSignature Language="C#" Value="public void FillPreserve ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void FillPreserve() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Font">
      <MemberSignature Language="C#" Value="public Xwt.Drawing.Font Font { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Xwt.Drawing.Font Font" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Xwt.Drawing.Font</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LineTo">
      <MemberSignature Language="C#" Value="public void LineTo (Xwt.Point p);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void LineTo(valuetype Xwt.Point p) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="p" Type="Xwt.Point" />
      </Parameters>
      <Docs>
        <param name="p">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LineTo">
      <MemberSignature Language="C#" Value="public void LineTo (double x, double y);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void LineTo(float64 x, float64 y) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="System.Double" />
        <Parameter Name="y" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <param name="y">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MoveTo">
      <MemberSignature Language="C#" Value="public void MoveTo (Xwt.Point p);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void MoveTo(valuetype Xwt.Point p) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="p" Type="Xwt.Point" />
      </Parameters>
      <Docs>
        <param name="p">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MoveTo">
      <MemberSignature Language="C#" Value="public void MoveTo (double x, double y);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void MoveTo(float64 x, float64 y) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="System.Double" />
        <Parameter Name="y" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <param name="y">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="NewPath">
      <MemberSignature Language="C#" Value="public void NewPath ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void NewPath() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Pattern">
      <MemberSignature Language="C#" Value="public Xwt.Drawing.Pattern Pattern { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Xwt.Drawing.Pattern Pattern" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Xwt.Drawing.Pattern</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Rectangle">
      <MemberSignature Language="C#" Value="public void Rectangle (Xwt.Rectangle rectangle);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Rectangle(valuetype Xwt.Rectangle rectangle) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="rectangle" Type="Xwt.Rectangle" />
      </Parameters>
      <Docs>
        <param name="rectangle">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Rectangle">
      <MemberSignature Language="C#" Value="public void Rectangle (Xwt.Point p, double width, double height);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Rectangle(valuetype Xwt.Point p, float64 width, float64 height) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="p" Type="Xwt.Point" />
        <Parameter Name="width" Type="System.Double" />
        <Parameter Name="height" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="p">To be added.</param>
        <param name="width">To be added.</param>
        <param name="height">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Rectangle">
      <MemberSignature Language="C#" Value="public void Rectangle (double x, double y, double width, double height);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Rectangle(float64 x, float64 y, float64 width, float64 height) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="System.Double" />
        <Parameter Name="y" Type="System.Double" />
        <Parameter Name="width" Type="System.Double" />
        <Parameter Name="height" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <param name="y">To be added.</param>
        <param name="width">To be added.</param>
        <param name="height">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RelCurveTo">
      <MemberSignature Language="C#" Value="public void RelCurveTo (Xwt.Distance d1, Xwt.Distance d2, Xwt.Distance d3);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RelCurveTo(valuetype Xwt.Distance d1, valuetype Xwt.Distance d2, valuetype Xwt.Distance d3) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="d1" Type="Xwt.Distance" />
        <Parameter Name="d2" Type="Xwt.Distance" />
        <Parameter Name="d3" Type="Xwt.Distance" />
      </Parameters>
      <Docs>
        <param name="d1">To be added.</param>
        <param name="d2">To be added.</param>
        <param name="d3">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RelCurveTo">
      <MemberSignature Language="C#" Value="public void RelCurveTo (double dx1, double dy1, double dx2, double dy2, double dx3, double dy3);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RelCurveTo(float64 dx1, float64 dy1, float64 dx2, float64 dy2, float64 dx3, float64 dy3) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="dx1" Type="System.Double" />
        <Parameter Name="dy1" Type="System.Double" />
        <Parameter Name="dx2" Type="System.Double" />
        <Parameter Name="dy2" Type="System.Double" />
        <Parameter Name="dx3" Type="System.Double" />
        <Parameter Name="dy3" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="dx1">To be added.</param>
        <param name="dy1">To be added.</param>
        <param name="dx2">To be added.</param>
        <param name="dy2">To be added.</param>
        <param name="dx3">To be added.</param>
        <param name="dy3">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RelLineTo">
      <MemberSignature Language="C#" Value="public void RelLineTo (Xwt.Distance d);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RelLineTo(valuetype Xwt.Distance d) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="d" Type="Xwt.Distance" />
      </Parameters>
      <Docs>
        <param name="d">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RelLineTo">
      <MemberSignature Language="C#" Value="public void RelLineTo (double dx, double dy);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RelLineTo(float64 dx, float64 dy) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="dx" Type="System.Double" />
        <Parameter Name="dy" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="dx">To be added.</param>
        <param name="dy">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RelMoveTo">
      <MemberSignature Language="C#" Value="public void RelMoveTo (Xwt.Distance d);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RelMoveTo(valuetype Xwt.Distance d) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="d" Type="Xwt.Distance" />
      </Parameters>
      <Docs>
        <param name="d">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RelMoveTo">
      <MemberSignature Language="C#" Value="public void RelMoveTo (double dx, double dy);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void RelMoveTo(float64 dx, float64 dy) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="dx" Type="System.Double" />
        <Parameter Name="dy" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="dx">To be added.</param>
        <param name="dy">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ResetClip">
      <MemberSignature Language="C#" Value="public void ResetClip ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void ResetClip() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Restore">
      <MemberSignature Language="C#" Value="public void Restore ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Restore() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Rotate">
      <MemberSignature Language="C#" Value="public void Rotate (double angle);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Rotate(float64 angle) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="angle" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="angle">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Save">
      <MemberSignature Language="C#" Value="public void Save ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Save() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetColor">
      <MemberSignature Language="C#" Value="public void SetColor (Xwt.Drawing.Color color);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetColor(valuetype Xwt.Drawing.Color color) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="color" Type="Xwt.Drawing.Color" />
      </Parameters>
      <Docs>
        <param name="color">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetLineWidth">
      <MemberSignature Language="C#" Value="public void SetLineWidth (double width);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetLineWidth(float64 width) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="width" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="width">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Stroke">
      <MemberSignature Language="C#" Value="public void Stroke ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Stroke() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="StrokePreserve">
      <MemberSignature Language="C#" Value="public void StrokePreserve ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void StrokePreserve() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Translate">
      <MemberSignature Language="C#" Value="public void Translate (Xwt.Point p);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Translate(valuetype Xwt.Point p) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="p" Type="Xwt.Point" />
      </Parameters>
      <Docs>
        <param name="p">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Translate">
      <MemberSignature Language="C#" Value="public void Translate (double tx, double ty);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Translate(float64 tx, float64 ty) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.4396.35768</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="tx" Type="System.Double" />
        <Parameter Name="ty" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="tx">To be added.</param>
        <param name="ty">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
